body{

	background-color:black;
	background-image:url("Images/Graveyard1.png");
	margin:0px;
}

h1, h2, h3, h4, h5{
	color:red;
}






@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px)  {
    body {
        background-color: orange;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1201px)  {
    body {
        background-color: yellow;
    }
}
/* ----------------------------------------- 1201px - 1600px --------------------------------------*/
@media only screen and (min-width: 1201px) and (max-width: 1600px)  {
    body {
        
    }

#header{
	border-bottom:3px solid red;
	width:100%;
	float:left;
	height:45vh;
}

.banner{
	display: block;
	margin:0 auto;
	width: 95%;
}

.banner1{
	display: block;
	margin:0 auto;
	width: 95%;
	border:red solid 2px;
}

.bigText{

	font-size:44px;

}
/* --------  HEADER ------- */



/* --------  FOOTER ------- */
#footer{
	background-color:black;
	border-top:3px solid red;
	margin-top: 10px;
	width:100%;
	float:left;
}

.faceWrapperLeft{
	margin-left:0px;
	width:20%;
	float:left;
}

.faceWrapperRight{
	margin-right:0px;
	width:20%;
	float:left;
}

.footerHeaderMiddle{
	width:59.4%;
	float:left;
	display:block;
    /*border: 2px solid white;*/

}


#facesL{
	height:15vh;
	margin-left:0px;
	float:left;
}

#facesR{
	height:15vh;
	margin-right:0px;
	float:right;
}

#LRR{
	background-color: black;
	width:100%;
	text-align:center;
	float:left;
	border-top:2px solid red;
	border-bottom:2px solid red;
}

}

/* ------------------------------ 1601 px +  ---------------------------*/
@media only screen and (max-width: 1601px)  {
    body {
        background-color: blue;
    }
}

/* --------  HEADER ------- */
#header{
	border-bottom:3px solid red;
	width:100%;
	float:left;
	height:45vh;
}

.banner{
	display: block;
	margin:0 auto;
	width: 95%;
}

.banner1{
	display: block;
	margin:0 auto;
	width: 95%;
	border:red solid 2px;
}

.bigText{

	font-size:44px;

}
/* --------  HEADER ------- */


/* --------  MAIN CONTENT ------- */

#mapContainer{
	/*background-color:pink;*/
	border-bottom:3px solid red;
	margin-top: 10px;
	width:100%;
	height:120vh;
	float:left;
	text-align: center;
}

#listContainer{
	/*background-color:green;*/
	margin-top: 10px;
	width:100%;
	height:120vh;
	float:left;	
	text-align: center;
}

#searchMovieInputBox{
	border: 3px solid red;
	font-size: 24px;
	color:red;
	background-color:black;
}


#getMovie{
	border: 3px solid red;
	font-size: 24px;
	color:red;
	background-color:black;
}





/* --------  MAIN CONTENT ------- */


/* --------  FOOTER ------- */
#footer{
	background-color:black;
	border-top:3px solid red;
	margin-top: 10px;
	width:100%;
	float:left;
}

.faceWrapperLeft{
	margin-left:0px;
	width:20%;
	float:left;
}

.faceWrapperRight{
	margin-right:0px;
	width:20%;
	float:left;
}

.footerHeaderMiddle{
	width:59.4%;
	float:left;
	display:block;
    /*border: 2px solid white;*/

}


#facesL{
	height:40vh;
	margin-left:0px;
	float:left;
}

#facesR{
	height:40vh;
	margin-right:0px;
	float:right;
}

#LRR{
	background-color: black;
	width:100%;
	text-align:center;
	float:left;
	border-top:2px solid red;
	border-bottom:2px solid red;
}


/* --------  FOOTER ------- */











